In [25]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [26]:
data=pd.read_csv('res/comedy.csv')
df=pd.DataFrame(data)
encoder=LabelEncoder()
df['Binary_Go']=encoder.fit_transform(df['Go'])
df['Binary_Nation']=encoder.fit_transform(df['Nationality'])
df

    Age  Experience  Rank Nationality   Go  Binary_Go  Binary_Nation
0    36          10     9          UK   NO          0              1
1    42          12     4         USA   NO          0              2
2    23           4     6           N   NO          0              0
3    52           4     4         USA   NO          0              2
4    43          21     8         USA  YES          1              2
5    44          14     5          UK   NO          0              1
6    66           3     7           N  YES          1              0
7    35          14     9          UK  YES          1              1
8    52          13     7           N  YES          1              0
9    35           5     9           N  YES          1              0
10   24           3     5         USA   NO          0              2
11   18           3     7          UK  YES          1              1
12   45           9     9          UK  YES          1              1

In [27]:
x=df[['Age','Experience','Rank','Binary_Nation']]
x.head()

   Age  Experience  Rank  Binary_Nation
0   36          10     9              1
1   42          12     4              2
2   23           4     6              0
3   52           4     4              2
4   43          21     8              2

In [28]:
y=df['Binary_Go']
y.head()

0    0
1    0
2    0
3    0
4    1
Name: Binary_Go, dtype: int32

In [29]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [30]:
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier

In [31]:
from sklearn.datasets import load_iris
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score


x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=42)

# Random Forest model
rf = RandomForestClassifier(n_estimators=10, random_state=42)
rf.fit(x_train, y_train)

# Predictions
y_pred = rf.predict(x_test)

# Accuracy
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.6666666666666666

In [32]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_test,rf.predict(x_test))*100
accuracy

66.66666666666666